<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body class="theme-base-0c layout-reverse">
    {% include sidebar.html %}
    <div class="content container">
      {{ content }}
    </div>
	{% include stats.html %}
	
	<script>
	$('.post img').each(function() {
		$(this).wrap("<a class='fancybox' rel='gallery' href='" + this.src + "'/>");
	});
	$(".fancybox").attr('rel', 'gallery').fancybox({
		beforeShow : function() {
			var alt = this.element.find('img').attr('alt');
			this.inner.find('img').attr('alt', alt);
			this.title = alt;
		},
		helpers : {
			title: {
				type: 'inside',
				position: 'bottom'
			}
		},
        openEffect  : 'fade',
        closeEffect : 'fade',
        nextEffect  : 'none',
        prevEffect  : 'none',
        padding     : 0,
        margin      : [20, 60, 20, 60] // Increase left/right margin
	});
	</script>

  </body>
</html>
